@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}


$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;



.card-boder {
    display: flex;
width: 380px;
padding: 15px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
background: #FFF;
box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.16);
}



.img-1 {
    width: 40px;
height: 40px;
margin-bottom: 5px;
}


.cardall {
    display: flex;
padding: 6px 0px;
align-items: center;
align-content: center;
gap: 37px 27px;
align-self: stretch;
flex-wrap: wrap;
}


.card-1 {
    display: flex;
width: 282px;
justify-content: center;
align-items: center;
gap: 8px;
}

.card-1 h4{
    color: $secondery-color-2;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.babyp {
    color: #5B5151;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .card-1 {
        display: flex;
    width: 252px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    }

    .img-1 {
        width: 20px;
    height: 20px;
    margin-bottom: 6px;
    }

    .card-boder {
        display: flex;
    width: 270px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.16);
    }

        // .card-boder {
        //     display: flex;
        // width: 212px;
        // padding: 10px;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // gap: 10px;
        // border-radius: 8px;
        // background: #FFF;
        // box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.16);
        // }

        .card-1 h4{
            color: $secondery-color-2;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        }

        .babyp {
            color: #5B5151;
        font-family: Poppins;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }


}

